
@{
    ViewBag.Title = "Register";  
}

<center>
    
        <img src="~/Image/loginlogo.jpg" width="50px" height="60px" />
 
 
        <label for=" First-name"></label>
        <input type="text" name="FirstName" id="firstname" required />
        <label for=" First-name"></label>

        <input type="text" name="FirstName" id="firstname" required />

  











</center>


