@model HomeCare.Models.SpecialistList_Result


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthCare</title>
    <link rel="icon" type="image/png" href="~/Image/loginlogo.jpg" , 16px ,16px>
    <link rel="stylesheet" href="~/Content/healthcare.css">

</head>
<body>
    <div>
        <ul class="btn btn-info btnlogin" style="margin-left:1100px">
            <li>@Html.ActionLink("LogOut", "Logout", "HomeHealthCare", new { area = "" }, null)</li>
        </ul>
    </div>

    <div>
        <aside id="leftmenu">
            <img src="~/Image/Welcomeimg.png" width="290" height="400" alt="welcomeimage" />

        </aside>
        <main id="main">
            <h3><span style="color: #FE1D42 ;"> Get</span>  HomeHealthCare</h3>
            <h3>Services <span style="color: #FE1D42 ;">at your</span></h3>
            <h3><span style="color: #FE1D42 ;">doorstep</span></h3>
            <h6>Nursing Care | Elder Care | Attender</h6>
            <h6>Covid Care | ICU setup at home</h6>
            <center>
                <div id="tabstrip" width="1200px" ,height="500px">
                    <ul>
                        <li id="tab1">Book Appointment</li>
                        <li>Appointment</li>
                        <li>CallNow📞</li>
                    </ul>
                    <div>
                        <h2>Book Appointment</h2>
                        <form id="myform">
                            @(Html.Kendo().DropDownList()
                                .Name("DoctorName")



        .DataTextField("doctorName")
        .DataValueField("ID")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetDoctorNameList", "Home");
            })
            .ServerFiltering(true);
        })
        )
                            @(Html.Kendo().DropDownList()
                                .Name("specialist")



        .DataTextField("Specialist")
        .DataValueField("DID")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetSpecialistList", "Home");
            })
            .ServerFiltering(true);
        })
        )
                            <input id="datepicker" />
                            <input id="btnplaceorder" type='button' value='BookAppointment' name='BookAppointment' class='btn btn-success ' />
                        </form>
                    </div>
                    <div>

                        .@(Html.Kendo().Grid<HomeCare.Models.AppointmentRecords_Result>()
        .Name("Home")
        .Columns(columns =>
        {
            //columns.Bound(p => p.ID);
            columns.Bound(p => p.DoctorName).Width(120);
            columns.Bound(p => p.Specialist).Width(120);
            columns.Bound(p => p.AppointmentDate).Width(120);

            //columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
        })
        //.ToolBar(toolbar => toolbar.Create())
        //.Editable(editable => editable.Mode(GridEditMode.PopUp))

        .Sortable()

        .HtmlAttributes(new { style = "height:800px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model => model.Id(p => p.ID))
            .Read(read => read.Action("AppointmentRecord", "Home"))
        //.Update(update => update.Action("EditingPopup_Update", "Grid"))
        //.Destroy(update => update.Action("EditingPopup_Destroy", "Grid"))
        )
    )


                    </div>
                    <div>

                        <a href="6376084800">📞On</a>

                    </div>

                </div>
            </center>
        </main>

    </div>

    <script>

        $("#tabstrip").kendoTabStrip().data("kendoTabStrip")
    </script>
  
    <script>
      
        $('#btnplaceorder').click(function () {


     
            $.ajax({
                url: 'https://localhost:44386/api/appointment/Getappointment/',
                method: "POST",
                data: {
                    Specialist: $('#specialist').val(),
                    doctorName: $('#DoctorName').val(),
                    appointmentDate: $('#datepicker').val()
                },
                success: function () {
                    alert("booked")

                },

                error: function () {

                }
            })


        })


    </script>



</body>
</html>
